/* src/styles/global.css */

/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Dark Mode */
  body.dark {
    background-color: #1f2937;
    color: #ffffff;
  }
  
  /* Dark Mode Toggle Button */
  .dark-mode-toggle button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  body.dark .dark-mode-toggle button {
    background-color: #fff !important;
    color: #000 !important;
  }
  /* Container */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
  
  /* Search Bar */
  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .search-bar input:focus {
    border-color: red;
  }
  
  .search-bar button {
    padding: 10px 20px;
    background-color: red;
    color: #ffffff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-bar button:hover {
    background-color: #3f4041;
  }
  
  /* Movie Card */
  .movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
  }
 
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
   
  .movie-img {
    width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  
  .movie-card p {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Pagination */
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: red;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Dark Mode Toggle */
  .dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .dark-mode-toggle button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dark-mode-toggle button svg {
    width: 24px;
    height: 24px;
  }
  
  body.dark .dark-mode-toggle button {
    background-color: #1f2937;
    color: #ffffff;
  }

/* Movie Grid */
.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  /* Movie Detail */
  .movie-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  @media (min-width: 768px) {
    .movie-detail {
      flex-direction: row;
      gap: 40px;
    }
  }

      .logo{
        text-align: center;
        margin-bottom: 10px;
      }

  
  .movie-poster {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
 
  
  .movie-info {
    flex: 1;
  }
  
  .movie-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .movie-overview {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .movie-trailer {
    width: 100%;
    height: 400px;
    border-radius: 10px;
  }
  /* src/styles/global.css */

.movie-rating-tags {
    margin-bottom: 10px;
  }

.movie-poster-container{
    position: relative;
}
.movie-poster-container:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
  }
  
  .movie-rating {
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 100%;
    border: 2px solid greenyellow;
    right: 5px;
    bottom: 20px;
    /* margin-right: 10px; */
  }
  
  .movie-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .tag {
    background-color: red;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  /* Back Button */
  .back-button {
    background-color: red;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
  }
  
  .back-button:hover {
    background-color: rgb(60, 60, 60);
  }
  
  /* Similar Movies */
  .similar-movies {
    margin-top: 40px;
  }
  
  .similar-movies h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  /* src/styles/global.css */

.similar-movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .loading svg{
    animation: load 2s infinite;
  }

  .loading svg{
    width: 200px;
    height: 200px;

  }

  @keyframes load {
    0% {
     transform: rotate(0deg);
    }
    100% {
     transform: rotate(360deg);
    }
    
  }

  @media (max-width: 768px) {
    .movie-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0px;
    }

    
  }
